### FNF-Specific
# File used for the NG API. Should not be shared with others.
APIStuff.hx
art/build_x32-officialrelease.bat
art/build_x64-officialrelease.bat
art/test_x64-debug-officialrelease.bat

### VS Code
mkm_content/videos/brhuh.mp4
export/*
.vscode/*
*.code-workspace
# Local history which shouldn't be shared.
.history
.ionide
# ! means a file should be added regardless of it it gets ignored prior.
# Including to allow others to use already set-up configuration tweaked for the project.
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# bruh
build.hxml
art/fruityFiles MKM/Top 10 Great Amazing Super Duper Wonderful Outstanding Saster Level Music That Ever Has Been Heard FLP.zip
RECOVER_*.fla
*.swf
art/flashFiles MKM/hell shrooms.fla
mkm_content/scripts - Copy/
mkm_content/images/bgs/istockphoto-1276398647-170667a.jpg
mkm_content/shaders/fun.frag
mkm_content/scripts/eating sunlight.notlua
RECOVER_*.fla
art/flashFiles MKM/cutscenes/pre-pre-house cutscene.fla
*.ini
*.blend1
